/* .mainpage{
    position: relative;
}*/
.humansysytem{
    position: relative;
    width: 26rem;
    height: 38.2rem;
    background-image: url("./images/pic3.png");
    background-repeat: no-repeat;
    left: 10rem;
}
/* .characterImage{
    position: relative;
    left: 10rem;
}  */